<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Store</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>E-Commerce Store</h1>
        <p>Secure DevSecOps Shopping Platform</p>
    </header>

    <div class="container">

        {% for product in products %}
        <div class="card">

            <img src="https://picsum.photos/250/180?random={{ loop.index }}">

            <h2>{{ product.name }}</h2>

            <p>{{ product.price }}</p>

            <button>Buy Now</button>

        </div>
        {% endfor %}

    </div>

</body>
</html>